* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

.homepage .desc {
  margin: 122px 280px;
}
.homepage .desc hr {
  width: 10%;
  margin: auto;
  background: #000000;
  border: 1px solid #4f4141;
}
.homepage .desc .name {
  font-size: 20px;
  font-weight: 600;
  font-size: "Quicksand", sans-serif;
}
.homepage .desc .title {
  font-size: 30px;
  font-weight: 400;
  margin: 28px 0px;
}
.homepage .desc .description {
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  font-weight: 400;
  margin-top: 28px;
}
.homepage .project .title {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 81px;
}
.homepage .project .my-project {
  margin-top: 50px;
}
.homepage .project .my-project img {
  filter: brightness(50%);
  position: relative;
}
.homepage .project .my-project .description .card-title {
  font-size: 35px;
  font-weight: 500;
}
.homepage .project .my-project .description button {
  font-size: 10px;
  font-weight: 400;
}
.homepage .our-client {
  margin: 152px 0px;
}
.homepage .our-client .title {
  font-size: 30px;
  font-weight: 500;
}
.homepage .our-client .image-client {
  margin: 70px 80px;
}
@media screen and (max-width: 900px) {
  .homepage .desc {
    margin: 50px 30px;
  }
  .homepage .desc hr {
    width: 40%;
  }
  .homepage .desc .name {
    font-size: 10px;
  }
  .homepage .desc .title {
    font-size: 20px;
  }
  .homepage .desc .description {
    font-size: 10px;
  }
  .homepage .project {
    margin: 0px 30px;
  }
  .homepage .project .title {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 0px;
  }
  .homepage .project .my-project .description .card-title {
    font-size: 30px;
    font-weight: 600;
  }
  .homepage .our-client {
    margin: 10px 0px;
  }
  .homepage .our-client .title {
    font-size: 30px;
    font-weight: 500;
  }
  .homepage .our-client .image-client {
    margin: 27px 30px;
  }
  .homepage footer .title {
    font-size: 10px;
  }
  .homepage footer .head-title {
    font-size: 15px;
  }
  .homepage footer .content {
    font-size: 10px;
    font-weight: 400;
  }
  .homepage footer .footer {
    font-size: 10px;
    font-weight: 400;
    margin-top: 70px;
  }
}

.about .hero img {
  filter: brightness(50%);
  position: relative;
}
.about .hero .card-title {
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
}
.about .hero .card-text {
  font-size: 30px;
  font-weight: 400;
}
.about .content {
  margin: 68px 0;
}
.about .content .content {
  padding: 100px;
}
.about .content .content .title {
  font-size: 30px;
  font-weight: 600;
}
.about .content .content .desc {
  font-size: 17px;
  font-weight: 400;
}
.about .team {
  margin: 68px 0;
}
.about .team .title {
  font-size: 30px;
  font-weight: 600;
}
.about .team .card {
  margin-top: 80px;
}
.about .team .card .card-title {
  font-size: 30px;
  font-weight: 600;
}
.about .team .card .card-text {
  font-size: 17px;
  font-weight: 400;
}
@media screen and (max-width: 900px) {
  .about .hero .card-title {
    font-size: 10px;
    line-height: 17px;
  }
  .about .hero .card-text {
    font-size: 15px;
    font-weight: 400;
  }
  .about .content {
    padding: 0 20px;
  }
  .about .content .content {
    padding: 0px 50px;
  }
  .about .team .card .card-title {
    font-size: 15px;
  }
  .about .team .card .card-text {
    font-size: 10px;
  }
  .about footer .title {
    font-size: 10px;
  }
  .about footer .head-title {
    font-size: 15px;
  }
  .about footer .content-footer {
    font-size: 10px;
    font-weight: 400;
  }
  .about footer .footer {
    font-size: 10px;
    font-weight: 400;
    margin-top: 70px;
  }
}

.project .hero img {
  filter: brightness(50%);
  position: relative;
}
.project .hero .card-title {
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
}
.project .hero .card-text {
  font-size: 30px;
  font-weight: 400;
}
.project .content {
  margin: 68px 0;
  font-family: "Poppins", sans-serif;
}
.project .content .card .card-body {
  margin: 0px 50px;
}
.project .content .card .card-body .card-title {
  font-size: 40px;
  font-weight: 700;
}
.project .content .card .card-body .card-text {
  font-size: 18px;
  font-weight: 400;
}
.project .content .card .card-body .card-list {
  font-size: 18px;
  font-weight: 400;
}
@media screen and (max-width: 900px) {
  .project .hero .card-title {
    font-size: 10px;
  }
  .project .hero .card-text {
    font-size: 15px;
  }
  .project .content {
    margin: 68px 65px;
  }
  .project .content .card .card-body {
    margin: 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .project .content .card .card-body .card-title {
    font-size: 20px;
    font-weight: 700;
  }
  .project .content .card .card-body .card-text {
    font-size: 10px;
    font-weight: 400;
    text-align: center;
  }
  .project .content .card .card-body .card-list {
    font-size: 10px;
    font-weight: 400;
    display: table;
    margin: 0 auto;
    text-align: left;
  }
}

.services .hero img {
  filter: brightness(50%);
  position: relative;
}
.services .hero .card-title {
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
}
.services .hero .card-text {
  font-size: 30px;
  font-weight: 400;
}
.services .service {
  margin: 76px 200px;
}
.services .service .title {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}
.services .service .card {
  background-color: #000000;
  color: #ffffff;
  margin-top: 50px;
}
.services .service .card img {
  height: 50px;
  width: 50px;
  margin-left: 10px;
}
.services .service .card .card-title {
  font-size: 14px;
  font-weight: 700;
}
.services .service .card .card-text {
  font-size: 12px;
  font-weight: 400;
}
.services .content {
  margin: 100px 0;
}
.services .content .title {
  font-size: 30px;
  font-weight: 600;
}
.services .content .body {
  font-size: 17px;
  font-weight: 400;
}
@media screen and (max-width: 900px) {
  .services .hero .card-title {
    font-size: 10px;
  }
  .services .hero .card-text {
    font-size: 15px;
  }
  .services .service {
    margin: 76px 50px;
  }
  .services .service .title {
    font-size: 20px;
  }
  .services .service .card .card-title {
    font-size: 20px;
  }
  .services .service .card .card-text {
    font-size: 15px;
  }
  .services .content {
    margin: 100px 50px;
    text-align: center;
  }
  .services .content .title {
    margin-top: 28px;
    font-size: 15px;
  }
  .services .content .body {
    font-size: 10px;
  }
}

.contact .hero img {
  filter: brightness(50%);
  position: relative;
}
.contact .hero .card-title {
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
}
.contact .hero .card-text {
  font-size: 30px;
  font-weight: 400;
}
.contact .content {
  margin: 45px 0;
}
.contact .content .body-content .title {
  font-size: 30px;
  font-weight: 600;
}
.contact .content .body-content .body {
  font-size: 17px;
  font-weight: 400;
}
.contact .content .body-content .whatsapp {
  width: 180px;
  border-radius: 5px;
  cursor: pointer;
}
.contact .content .body-content .whatsapp .whatsapp-text {
  font-size: 15px;
  font-weight: 400;
}
.contact .location {
  margin: 50px 0;
}
.contact .location .title {
  font-size: 30px;
  font-weight: 600;
}
.contact .contact-us {
  margin: 100px 0;
}
.contact .contact-us .title {
  font-size: 30px;
  font-weight: 600;
}
@media screen and (max-width: 900px) {
  .contact .all-content {
    padding: 50px 40px;
  }
  .contact .hero .card-title {
    font-size: 10px;
  }
  .contact .hero .card-text {
    font-size: 15px;
  }
  .contact .content {
    text-align: center;
  }
  .contact .content .body-content .title {
    font-size: 20px;
  }
  .contact .content .body-content .body {
    font-size: 15px;
  }
  .contact .content .body-content .whatsapp {
    margin: auto;
  }
}

.navbar .navbar-brand {
  font-size: 15px;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
}
.navbar .navbar-nav .nav-link {
  font-size: 11px;
  font-weight: 400;
}
@media screen and (max-width: 900px) {
  .navbar .navbar-nav {
    position: absolute;
    z-index: 1;
    background: #000000;
    width: 35vh;
    min-height: 92vh;
    display: flex;
    flex-direction: column;
    right: 0;
  }
  .navbar .navbar-nav img {
    cursor: pointer;
    margin: 15px;
    height: 15px;
    width: 15px;
  }
  .navbar .navbar-nav .nav-link {
    padding: 20px;
    color: #ffffff;
    font-size: 13px;
  }
  .navbar .navbar-nav footer {
    padding: 20px;
    margin-top: auto;
    margin-left: auto;
    font-size: 6px;
    font-weight: 700;
  }
}

footer {
  background: #000000;
}
footer .title {
  font-size: 30px;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
}
footer .head-title {
  font-size: 16px;
  font-weight: 600;
}
footer .content {
  font-size: 13px;
  font-weight: 400;
}
footer .footer {
  font-size: 13px;
  font-weight: 600;
  margin-top: 70px;
}

/*# sourceMappingURL=style.css.map */
